<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="anonymous url shortening service">
  <meta name="author" content="@seanreconnery">
  
  <!-- Open Graph data -->
  <meta property="og:title" content="Shorts+Link" />
  <meta property="og:url" content="https://c0nscio.us" />
  <meta property="og:image" content="../static/pics/logo.jpg" />
  <meta property="og:description" content="free, anonymous url shortening" />
  <meta property="og:site_name" content="Short+Link" />


<title>

</title>

<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 

  <!-- Bootstrap core CSS -->
  <link href="https://c0nscio.us/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="https://c0nscio.us/static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">


<section id="about" class="headercolor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
            <h2 class="bigfont cursivey lead text-light">
                <strong>
                    <em>Anonymous URL Shortener</em>
                </strong>
            </h2>
                <h1 class="lead text-white">simple.  straightforward.  short.</h1>
            </div>
        </div>
    </div>
</section>


<!-- ##### CREATE / EMBED ##### -->
<section id="create" class="bg-white">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto text-center">
            <img src="../static/pics/logo.jpg" border="0" class="img-fluid" />
          <p class="lead">
          <center>
              <form method="post" action="https://c0nscio.us/shorten">
                <p>
                URL To Shorten:<br>
                <input type="text" class="stegbox" name="url" id="url" value="">
                </p>

                <p><input type="submit" value="Submit" class="btn btn-primary btn-xl js-scroll-trigger">
                </p>
                </form>
            </center>
        
          {% block createURL %}
          <h3><strong>ERROR:</strong></h3>
            {{ errMessage }}
          {% endblock %}

          </p>
        </div>
      </div>
    </div>
  </section>
<!-- end of section -->


  <!-- Bootstrap core JavaScript -->
  <script src="https://c0nscio.us/static/vendor/jquery/jquery.min.js"></script>
  <script src="https://c0nscio.us/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="https://c0nscio.us/static/vendor/bootstrap/js/bootstrap.min.js"></script>


  <!-- Plugin JavaScript -->
  <script src="https://c0nscio.us/static/vendor/jquery-easing/jquery.easing.min.js"></script>


</body>
</html>


